:root {
    --main-bg: #FEC1C1;
    --header-bg: #EE7C7C;
    --font-color: #000000;
    --primary-color: #EB6D8B;
    --hyperlink-color: #e91042;
}

body {
    background-color: var(--main-bg) !important;
    color: var(--font-color) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.spaced-apart {
    display: flex;
    justify-content: space-between;
}

.centered {
    display: flex;
    justify-content: center;
}

.auto-margin {
    margin-left:auto;
    margin-right:auto;
}

.condition-card {
    min-height: 25em;
    max-height: 25em;
    max-width: 50em;
    padding-left:2em;
    padding-right:2em;
    margin-bottom:1em;
}

.input-section {
    width: 50em;
}

.profile-input-group {
    width:50%;
}

#hero-text{
    text-align: center;
    margin-top:50px;
}

#header {
    background-color: var(--header-bg);
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#header > span {
    margin:5px;
}

#header a {
    color: var(--hyperlink-color);
}

#landing-image {
    max-width:500px;
    width: 100%;
    height: auto;
}

#login-form {
    width: 85%;
}

#login-buttons > button {
    width: 45%;
    height: 50px;
}

#tab-nav {
    background-color: #EE7C7C;
}

@media (max-width: 768px) {
    .profile-input-section {
        width: 100%;
    }

    .profile-input-group {
        width:100%;
    }
}